.doorbell__navbar {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 10px;
  align-items: center;
  padding-right: 10px;
}

.doorbell__navbar h2 {
  padding: 0.25rem 0.75rem;
  font-size: 2.5rem;
  color: var(--color-txt);
  background: var(--color-home);
  border-radius: 5px;
}

.doorbell__navbar ul {
  display: grid;
  grid-gap: 10px;
  justify-self: end;
  grid-template-columns: repeat(3, 1fr);
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.doorbell__navbar li {
  font-size: 1.4rem;
  text-transform: uppercase;
}

.doorbell__navbar li a {
  color: inherit;
  text-decoration: none;
  letter-spacing: 0.1rem;
  position: relative;
}

.doorbell__navbar li a:before {
  content: "";
  position: absolute;
  top: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-out;
}

.doorbell__navbar a:before {
  background: var(--color-border);
}

.doorbell__navbar li a:hover:before {
  bottom: -5px;
}

@media only screen and (max-width: 1200px) {
  .doorbell__navbar h2 {
    font-size: 1.5rem;
  }

  .doorbell__navbar li {
    font-size: 1rem;
  }
}
