@import url("https://fonts.googleapis.com/css?family=Open+Sans:700");
:root {
  --font: "Open Sans", sans-serif;
  --color-bg: #ddd;
  --color-txt: #333;
  --color-home: goldenrod;
  --color-border: #2980b9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: var(--font);
  color: var(--color-txt);
  background: var(--color-bg);
}
